.wrapper {
	width: 95%;
	max-width: 960px;
	margin: 0 auto;
}

.main-header {
	background-color: #EAEAEA;
	text-align: center;
	line-height: 2.5;
}

.main-header h1 {
	font-size: 2em;
	margin: 0;
}

main {
	padding: 1em 1.5em 3em 1.5em;
	border: 1px solid #CCC;
	border-top: 0;
}

.border {
	border: 1px solid #CCC;
	padding: 1em;
}
